body {
  margin: 0;
  padding: 0;
}

.header {
  background-color:#f2f2f2;
  padding: 20px 0;
}

.navbar-brand {
  font-weight: bold;
}

.main-content {
  padding: 20px;
}

.header-content {
  padding: 10px 0;
}

.header-content img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  padding-bottom: 20px;
}

.dropdown-item {
  color: #0d6efd; 
}

.back-to-top {
  font-size: 25px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  line-height: 1;
}

.footer {
  background-color: #f2f2f2;
  padding: 20px 0;
}